<h1>Sign In</h1>

<%= form_tag signin_path, method: 'post' do %>
  <%= label_tag :'user[name]', 'Name:' %>
  <%= text_field_tag :'user[name]' %>
  <%= label_tag :'user[password]' %>
  <%= password_field_tag :'user[password]' %>
  <%= submit_tag 'Sign In' %>
<% end %>
