<% if flash.notice %>
  <h2><%= flash.notice %></h2>
<% end %>

<h1><%= @user.name %></h1>

<% if @user.admin %>
  <h2>ADMIN</h2>
<% end %>

<div class="">
  Happiness: <%= @user.happiness %>
</div>
<div class="">
  Nausea: <%= @user.nausea %>
</div>
<div class="">
  Tickets: <%= @user.tickets %>
</div>
<div class="">
  Height: <%= @user.height %>
</div>

<div class="">
  Mood: <%= @user.mood %>
</div>


<div class="">
  <%= link_to 'Log Out', logout_path %>
</div>
