<div class="">
  Name: <%= @user.name %>
</div>
<div class="">
  Happiness: <%= @user.happiness %>
</div>
<div class="">
  Nausea: <%= @user.nausea %>
</div>
<div class="">
  Tickets: <%= @user.tickets %>
</div>
<div class="">
  Height: <%= @user.height %>
</div>

<div class="">
  Mood: <%= @user.mood %>
</div>
